In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('fermelabo_data2.csv', sep=",",header=None)
df.columns = ["origin"]
df['time'] = 0
df['title'] = 0
df['count'] = 0
df['date'] = 0

#df.drop[]
shock = df.query('origin.str.contains("衝撃")', engine='python')
kaisuu = df.query('origin.str.contains("視聴")', engine='python')

len(kaisuu) - len(shock)
len(shock)

244

In [30]:
newdf = df[df.origin != "字幕"]

# 入れ替え
df['time'] = newdf[::4]
df['title'] = newdf[1::4]
df['count'] = newdf[2::4]
df['date'] = newdf[3::4]

#時間抽出
dtime = newdf[::4]
dtime = dtime.reset_index()
dtime = dtime.drop(['index','origin','title','count','date'], axis=1)

#タイトル抽出
dtitle = newdf[1::4]
dtitle = dtitle.reset_index()
dtitle = dtitle.drop(['index','origin','time','count','date'], axis=1)

#視聴回数抽出
dcount = newdf[2::4]
dcount = dcount.reset_index()
dcount = dcount.drop(['index','origin','time','title','date'], axis=1)

#アップロード日
ddate = newdf[3::4]
ddate = ddate.reset_index()
ddate = ddate.drop(['index','origin','time','count','title'], axis=1)

pd1 = dtime.join(dtitle)
pd2 = dcount.join(ddate)
pd = pd1.join(pd2)

len(pd)
pd.head()

#title.head(5)
#df.head(5)

   time                               title        count    date
0  4:18               【衝撃】女子と男子の「かわいい」の違い５選  視聴回数 1.9万 回   6 時間前
1  4:08                【衝撃】恐竜について誤解している事実５選  視聴回数 2.8万 回  20 時間前
2  4:00           【衝撃】男性が心の中で可愛いと思っている５つの瞬間   視聴回数 12万 回    1 日前
3  4:39  【衝撃】あなたの知らないUndertaleの真実５選/アンダーテール  視聴回数 4.6万 回    1 日前
4  3:42            【衝撃】今までに捕獲された最大のホホジロザメ５選  視聴回数 2.4万 回    1 日前

In [50]:
newCount = pd["count"].str.replace("視聴回数","")
newCount = newCount.str.replace("回","")
#

boolCount = newCount.str.contains("万")
tCount = pd.T[2:3]

#dcount = dcount.query('count.str.contains("視聴回数")', engine='python')
#newCount.str.contains("万")

#for i in range(len(boolCount)):
#    if boolCount[i] == True:
#        newCount[i] = newCount.str.replace("万","")
#        newCount[i] = float(newCount[i])*10000
#    else:
#        newCount[i] = float(newCount[i])

0       1.9万
1       2.8万
2        12万
3       4.6万
4       2.4万
5       7.6万
6       6.7万
7       4.7万
8       9.8万
9        12万
10       20万
11       11万
12       19万
13       24万
14      8.4万
15       24万
16      4.2万
17       11万
18      2.1万
19      9.7万
20      5.8万
21       11万
22       25万
23       12万
24       12万
25       31万
26       35万
27       34万
28      234万
29      3.8万
        ...
228      28万
229     5.6万
230     102万
231       8万
232       8万
233      32万
234      10万
235     2.3万
236      30万
237     8.4万
238     110万
239      89万
240     132万
241       9万
242      19万
243       4万
244     136万
245      10万
246     7.7万
247      63万
248      12万
249      22万
250      13万
251     104万
252     5.8万
253      13万
254      17万
255     7.1万
256      13万
257      37万
Name: count, dtype: object