In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('fermelabo_data2.csv', sep=",",header=None)
df.columns = ["origin"]
df['time'] = 0
df['title'] = 0
df['count'] = 0
df['date'] = 0

#df.drop[]
shock = df.query('origin.str.contains("衝撃")', engine='python')
kaisuu = df.query('origin.str.contains("視聴")', engine='python')

len(kaisuu) - len(shock)
len(shock)

244

In [4]:
newdf = df[df.origin != "字幕"]

# 入れ替え
df['time'] = newdf[::4]
df['title'] = newdf[1::4]
df['count'] = newdf[2::4]
df['date'] = newdf[3::4]

#時間抽出
dtime = newdf[::4]
dtime = dtime.reset_index()
dtime = dtime.drop(['index','origin','title','count','date'], axis=1)

#タイトル抽出
dtitle = newdf[1::4]
dtitle = dtitle.reset_index()
dtitle = dtitle.drop(['index','origin','time','count','date'], axis=1)

#視聴回数抽出
dcount = newdf[2::4]
dcount = dcount.reset_index()
dcount = dcount.drop(['index','origin','time','title','date'], axis=1)

#アップロード日
ddate = newdf[3::4]
ddate = ddate.reset_index()
ddate = ddate.drop(['index','origin','time','count','title'], axis=1)

pd1 = dtime.join(dtitle)
pd2 = dcount.join(ddate)
pd = pd1.join(pd2)

len(pd)
pd.head()

#title.head(5)
#df.head(5)

   time                               title        count    date
0  4:18               【衝撃】女子と男子の「かわいい」の違い５選  視聴回数 1.9万 回   6 時間前
1  4:08                【衝撃】恐竜について誤解している事実５選  視聴回数 2.8万 回  20 時間前
2  4:00           【衝撃】男性が心の中で可愛いと思っている５つの瞬間   視聴回数 12万 回    1 日前
3  4:39  【衝撃】あなたの知らないUndertaleの真実５選/アンダーテール  視聴回数 4.6万 回    1 日前
4  3:42            【衝撃】今までに捕獲された最大のホホジロザメ５選  視聴回数 2.4万 回    1 日前

In [12]:
newCount = pd["count"].str.replace("視聴回数","")
newCount = newCount.str.replace("回","")
#

boolCount = newCount.str.contains("万")
tCount = pd.T[2:3]
newCount = newCount.str.replace("万","")

#dcount = dcount.query('count.str.contains("視聴回数")', engine='python')
#newCount.str.contains("万")

for i in range(len(boolCount)):
#    if boolCount[i] == True:
#        newCount[i] = newCount.str.replace("万","")
    newCount[i] = float(newCount[i])*10000
#    else:
#        newCount[i] = float(newCount[i])

newCount

0         19000
1         28000
2        120000
3         46000
4         24000
5         76000
6         67000
7         47000
8         98000
9        120000
10       200000
11       110000
12       190000
13       240000
14        84000
15       240000
16        42000
17       110000
18        21000
19        97000
20        58000
21       110000
22       250000
23       120000
24       120000
25       310000
26       350000
27       340000
28     2.34e+06
29        38000
         ...
228      280000
229       56000
230    1.02e+06
231       80000
232       80000
233      320000
234      100000
235       23000
236      300000
237       84000
238     1.1e+06
239      890000
240    1.32e+06
241       90000
242      190000
243       40000
244    1.36e+06
245      100000
246       77000
247      630000
248      120000
249      220000
250      130000
251    1.04e+06
252       58000
253      130000
254      170000
255       71000
256      130000
257      370000
Name: count, dtype: object